{% extends "base.html" %}
  {% block body %}
  <div class="container">

    <h5 class="center"><i class="fas fa-cog"></i> Config</h5>

    <div class="form-group">
    	<label>Controller Name:</label>
    	<input type="text" class="form-control" name="name" id="name" placeholder="Name of the new config">
    	<small class="form-text text-muted">define a name of this controller</small>
    </div>

    <div class="form-group">
    	<label>Raspberry Pin:</label>
    	<input type="text" class="form-control" name="pin" id="pin" placeholder="GPIO Pin Number">
    	<a href="#" data-toggle="modal" data-target="#imgModal"><small class="form-text text-muted">Help pin layout here</small></a>
    </div>

    <div class="form-group">
    	<label>Is it a loop?:</label>
    	<div class="row">
    		<div class="col-sm"><span class="badge badge-pill badge-success loop"><span>ON</span> <i class="fas fa-check"></i></span></div>
    		<div class="col-sm"><label>Repeat time:</label></div>
    		<div class="col-sm"><input type="text" class="form-control" name="repeat_time" id="repeat_time" placeholder="Time in minutes"></div>
    		<div class="col-sm"><label>Duration time:</label></div>
    		<div class="col-sm"><input type="text" class="form-control" name="duration_time" id="duration_time" placeholder="Time in minutes"></div>
    </div>

    <br>
    <div class="form-group">
    	<div class="row">
    		<div class="col right"><button type="button" class="btn btn-success" id="btn_save"><i class="fas fa-check"></i> Save</button></div>
    		<div class="col"><button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('index')}}';"><i class="fas fa-undo-alt"></i> Back</button></div>
    	</div>
    </div>

  </div><!-- /.container -->

  <div id="imgModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fab fa-raspberry-pi"></i> Pin Layout</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="pin_img" src="{{ url_for('static', filename='image/pin.png')}}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  <style type="text/css">
    #pin_img {
        max-width: 300px;
    }
    /* For devices 400px and larger: */
    @media only screen and (min-device-width: 400px) {
        #pin_img {
            max-width: 466px;
        }
    }
  </style>
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript">
      $('.loop').click(function(){
        var status = $(this).children().text();
        if(status == 'ON'){
          $(this).toggleClass('badge-success badge-danger');
          $(this).html('<span>OFF</span> <i class="fas fa-times"></i>');
        } else{
          $(this).toggleClass('badge-danger badge-success');
          $(this).html('<span>ON</span> <i class="fas fa-check"></i>');
        }
      });

    	$('#btn_save').click(function(){
    		let controller = {
    			name: $('#name').val(),
    			pin: $('#pin').val(),
    			status: 'ON',
    			isLoop: (($('.handler').children().text() == 'ON') ? true : false),
    			repeat_time: $('#repeat_time').val(),
    			duration_time: $('#duration_time').val()
    		};
  			// send
  			if(controller.name !== '' && controller.port !== ''){
	    		$.ajax({
					dataType: 'json',
					contentType: 'application/json',
					url: '/config',
					type: "POST",
	                data: JSON.stringify(controller),
					success: success
				});	
  			} else{
  				let msg = 'Input name and port!';
    			$('#errorMsg').text(msg);
    			$('#errorModal').modal('show');
  			}
    	});

    	function success(json){
    		if(json.return_msg.status == 'SUCCESS'){
    			location.href='{{ url_for('index')}}';
    		}
    		else{
    			let msg = json.return_msg.value;
    			$('#errorMsg').text(msg);
    			$('#errorModal').modal('show');
    			console.log(msg);
    		}
    	};
    </script>
  {% endblock %}