{% extends "base.html" %}
  {% block body %}
  <div class="container">

    <h5 class="center"><i class="fas fa-info-circle"></i> {{data.name}} detail</h5>

    <table class="table overflow-auto">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Port</td>
          <td>{{data.port}}</td>
        </tr>
        <tr>
          <td>Is it a loop?</td>
          <td>
            {% if data.isLoop == true %}
              <span class="badge badge-pill badge-success handler"><span>ON</span> <i class="fas fa-check"></i></span>
            {% else %}
              <span class="badge badge-pill badge-danger handler"><span>OFF</span> <i class="fas fa-check"></i></span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Repeat Time</td>
          <td>{{data.repeat_time}}</td>
        </tr>
        <tr>
          <td>Duration Time</td>
          <td>{{data.duration_time}}</td>
        </tr>
        <tr>
          <td>Log</td>
          <td><i class="fas fa-download"></td>
        </tr>
        <tr>
          <td>ID: {{data.id}}</td>
          <td><button type="button" class="btn btn-danger" onclick="btn_delete({{data.id}})"><i class="fas fa-trash-alt"></i> Delete</button></td>
        </tr>
      </tbody>
    </table>

    <br>
    <div class="form-group">
      <div class="row">
        <div class="col right"><button type="button" class="btn btn-success" id="btn_save"><i class="fas fa-check"></i> Save</button></div>
        <div class="col"><button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('index')}}';"><i class="fas fa-undo-alt"></i> Back</button></div>
      </div>
    </div>

  </div><!-- /.container -->

  <style type="text/css">
    tr{
      text-align: center;
    }
    .center{
      text-align: center;
    }
    .right{
      text-align: right;
    }
  </style>
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript">
      function btn_delete(id){
        if(id !== '' || id !== 0 ){
          $.ajax({
          dataType: 'json',
          contentType: 'application/json',
          url: '/_delete',
          type: "POST",
          data: {id},
          success: success
          }); 
        }
      }

      function success(json){
        if(json.return_msg.status == 'SUCCESS'){
          location.href='{{ url_for('index')}}';
        }
        else{
          let msg = json.return_msg.value;
          $('#errorMsg').text(msg);
          $('#errorModal').modal('show');
          console.log(msg);
        }
      }
    </script>
  {% endblock %}


