{% extends "base.html" %}
  {% block body %}
  <div class="container">

    <h5 class="center"><i class="fas fa-home"></i> Control Panel</h5>

    <div class="overflow-auto">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Controller</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% if data %}
            {% for el in data %}
              <tr ondblclick="location.href='{{ url_for("detail", id=loop.index -1) }}'">
                <td>{{loop.index}}</td>
                <td>{{el.name}}</td>
                <td>
                  {% if el.status == 'ON' %}
                    <span class="badge badge-pill badge-success handler"><span>ON</span> <i class="fas fa-check"></i></span>
                  {% else %}
                    <span class="badge badge-pill badge-danger handler"><span>OFF</span> <i class="fas fa-times"></i></span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td></td>
              <td><span class="empty_text">Not Found! </span><span class="empty_btn"><button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('config')}}';"><i class="fas fa-cog"></i> Add New</button></span></td>
              <td></td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

  </div><!-- /.container -->

  <style type="text/css">
    tr{
      text-align: center;
    }
    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #efefef;
      text-align: center;
    }
    .footer p{
      font-size: .8rem;
    }
    .empty_text{
      float: left;
    }
    .empty_btn{
      float: right;
    }
    </style>
  {% endblock %}

  {% block javascript %}
    
  {% endblock %}


